<%= form_with(model: kategorija, class: 'needs-validation', local: true, novalidate: true) do |form| %>
  <% if kategorija.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4><%= pluralize(kategorija.errors.count, "error") %> prohibited this kategorija from being saved:</h4>
      <ul>
        <% kategorija.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :nosaukums, class: 'form-label' %>
    <%= form.text_field :nosaukums, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :apraksts, class: 'form-label' %>
    <%= form.text_field :apraksts, class: 'form-control' %>
  </div>
  <div>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
