<div class="container" style="max-width: 900px;">
  <div class="card mt-4 mb-2">
    <div class="card-header">
      <h2>Rediģēt Profilu</h2>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'needs-validation', novalidate: true }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group mb-3">
          <%= f.label :email, class: 'form-label' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="alert alert-info">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="form-group mb-3">
          <%= f.label :password, class: 'form-label' %> <i>(atstājiet tukšu ja nevēlieties mainīt)</i>
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
          <% if @minimum_password_length %>
            <small class="form-text text-muted">rakstzīmju minimums <%= @minimum_password_length %></small>
          <% end %>
        </div>
        <div class="form-group mb-3">
          <%= f.label :password_confirmation, class: 'form-label' %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>
        <div class="form-group mb-3">
          <%= f.label :current_password, class: 'form-label' %> <i>(ievadiet tagadējo paroli lai apstiprinātu izmaiņas)</i>
          <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
        </div>
        <div class="form-group mb-3 d-flex justify-content-between">
          <%= f.submit "Atjaunot", class: 'btn btn-primary' %>
          <%= button_to "Dzēst profilu", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, form_class: 'd-inline', class: 'btn btn-danger' %>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to "Atpakaļ", :back, class: 'btn btn-secondary' %>
</div>
