<div id="<%= dom_id pamatlidzekli %>">
  <p>
    <strong>Nosaukums:</strong>
    <%= pamatlidzekli.nosaukums %>
  </p>
  <p>
    <strong>Razotajs:</strong>
    <%= pamatlidzekli.razotajs %>
  </p>
  <p>
    <strong>Modelis:</strong>
    <%= pamatlidzekli.modelis %>
  </p>
  <p>
    <strong>Serijas nummurs:</strong>
    <%= pamatlidzekli.serijas_nummurs %>
  </p>
  <p>
    <strong>Kategorija:</strong>
    <%= pamatlidzekli.kategorija.nosaukums %>
  </p>
  <p>
    <strong>Apraksts:</strong>
    <%= pamatlidzekli.apraksts %>
  </p>
  <p>
    <strong>Iegades datums:</strong>
    <%= pamatlidzekli.iegades_datums %>
  </p>
  <p>
    <strong>Garantija:</strong>
    <%= pamatlidzekli.garantija %>
  </p>
  <p>
    <strong>Izmaksas:</strong>
    <%= pamatlidzekli.izmaksas %>
  </p>
  <%= image_tag(url_for(pamatlidzekli.qrcode)) %>
</div>
