<tr>
  <td><%= pamatlidzekli.nosaukums %></td>
  <td><%= pamatlidzekli.razotajs %></td>
  <td><%= pamatlidzekli.modelis %></td>
  <td><%= pamatlidzekli.serijas_nummurs %></td>
  <td><%= pamatlidzekli.kategorija.nosaukums if pamatlidzekli.kategorija %></td>
  <td><%= pamatlidzekli.apraksts %></td>
  <td><%= pamatlidzekli.iegades_datums %></td>
  <td><%= pamatlidzekli.garantija %></td>
  <td><%= pamatlidzekli.izmaksas %></td>
  <td><%= link_to "Apskatīt", pamatlidzekli, class:"btn btn-primary" %></td>
  <td><%= link_to "Rediģēt",  edit_pamatlidzekli_path(pamatlidzekli), class:"btn btn-success" %></td>
  <td><%= button_to "Dzēst", pamatlidzekli, method: :delete, class:"btn btn-danger" %></td>
</tr>
