<div class="container mt-3">
  <h2>Pamatlīdzekļi</h2>
  <div>
    <%= form_with url: pamatlidzeklis_path, method: :get, data: {turbo_frame: "tabulas", controller: "form", action: "input->form#submit" } do %>
      <%= text_field_tag "filter", nil, placeholder: "Filter"%>
    <% end  %>
  </div>
  <turbo-frame id="pamatlidzeklis_table">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>Nosaukums</th>
          <th>Razotajs</th>
          <th>Modelis</th>
          <th>Serijas Nummurs</th>
          <th>Kategorija</th>
          <th>Apraksts</th>
          <th>Iegades Datums</th>
          <th>Garantija</th>
          <th>Izmaksas</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @pamatlidzeklis.each do |pamatlidzekli| %>
          <%= render 'tabulas', pamatlidzekli: pamatlidzekli %>
        <% end %>
      </tbody>
    </table>
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </turbo-frame>
  <%= link_to "Pievienot Pamatlīdzekli", new_pamatlidzekli_path, class:"btn btn-secondary" %>
</div>