<div class="container">
  <h1>Sākuma lapa</h1>
  <% if user_signed_in? %>
    <p>Sveiks <%= current_user.email %></p>
    <p>Jūsu lietotāja loma ir:<%= current_user.role %></p>
    <% if current_user.admin? %>
      <p>Sistēmā ir<%= User.count %> lietotāji piereģistrēti</p>
    <% end %>
  <% else %>
    <p>Jūs neesat autorizējies</p>
    <%= link_to 'Izveidot lietotāju', new_user_registration_path, class: 'btn btn-primary' %>
    <%= link_to 'Pieslēgties', new_user_session_path, class: 'btn btn-secondary' %>
  <% end %>
</div>