<h1>Home#index</h1>
<% if user_signed_in? %>
  <p>Hello <%= current_user.email %></p>
  <p>Jūsu lietotāja loma ir:<%= current_user.role %></p>
  <% if current_user.admin? %>
    <p>Sistēmā ir<%= User.count %> lietotāji piereģistrēti</p>
  <% end %>
<% else %>
  <p>Jūs neesat autorizējies</p>
  <%= link_to 'Sign Up!', new_user_registration_path %>
  <%= link_to 'Login!', new_user_session_path %>
<% end %>
